.pagination-div {
    height: 40px;
    background-color: #ffffff;
    border-top: 1spx solid  #ececec;
    border-bottom: 1px solid  #ececec;
    font-size: 14px;
}

.top-pagination {
    border: 0;
    background-color: #ffffff;
}

.top-pagination-active {
    border:0;
    background-color: #f6f6f6;
    border-top: 2px solid rgba(41, 41, 41, 1);
}

.card-header {
    height: 40px;
    font-size: 18px;
}

.group-name {
    font-size: 18px;
    color: black;
    padding: 0;
    font-weight: 700;
}

.node-delete .fa-times {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-trash {
    color: #d9534f;

}
.btn-trash:hover {
    color: #b12c28;
}

.border-node-list {
    border: solid thin #ecbc7f;
}
.h-350 {
    height: 350px;
}

.border {
    border: solid thin #dee2e6;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.font-size-30 {
    font-size: 30px;
}


.scroller {
  overflow-y: auto;
  //scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.scroller::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.scroller::-webkit-scrollbar-track-piece  {
    background-color: #C2D2E4;
}

.scroller::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0A4C95;
}

.selected-node {
    color: #6eb64d;
}

.selected-node:hover {
    color: #57913c;
}

.unselected-node {
    color: #f65f91;
}

.unselected-node:hover {
    color: #ed437c;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#scheduleSettingModalLabel {
    font-size: 1.2rem;
}

.times-size {
    font-size: 2rem;
}