{% extends"base.html" %} {% block head %} {{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<link href="{{ url_for('static', filename='css/dae/file.css') }}" rel="stylesheet">

{% endblock head%} {% block content%}
<script>
$(function () {
    $('#file-upload').click(uploadTenantFile);
});

function uploadTenantFile() {
    var acceptTypeArray = ['json'],
        element = $('#file-input');

    if ($.inArray(element.val().split('.').pop().toLowerCase(), acceptTypeArray) === -1 ) {
        alert('檔案格式不支援!');
        return false;
    } else {
        var file_data = element.prop('files')[0];
        var form_data = new FormData();
        form_data.append('upload_file', file_data);
        $('#file-upload').text('檔案上傳中');
        $('#file-upload').attr('disabled', true);
        $.ajax({
            cache: false,
            processData: false,
            contentType: false,
            type: 'POST',
            url: '/api/v1.0/upload_file',
            data: form_data
        }).then(function(result) {
            if (result['result']) {
                alert('上傳成功!');
                $('#upload-form')[0].reset();
            } else {
                alert(result['message']);
            }
            $('#file-upload').text('上傳');
            $('#file-upload').attr('disabled', false);
        });
    }
}

</script>

<div class="page home-page">
    <!-- navbar-->
    <header class="header">
        <nav class="navbar py-1">
            <div class="container-fluid px-1">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header d-flex align-items-center"><a id="toggle-btn" href="#"
                                                                            class="navbar-toggler btn-link"><i
                            class="fa fa-bars fa-2x" style="vertical-align: middle;"> </i></a>
                        <a href="/" class="navbar-brand">
                            <div class="brand-text hidden-sm-down"><span>檔案匯出/匯入</span></div>
                        </a>
                    </div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center mb-0">
                        {% if role == 'Cloud' %}
                        <li class="nav-item"><a href="gateway_setting" class="nav-link pre-page">上一頁</i></a></li>
                        {%endif%}
                        <li class="nav-item"><a href="/" class="nav-link logout pl-0"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item"><a href="{{ url_for('main.logout') }}" class="nav-link pl-0"><i
                                class="fas fa-sign-out-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Counts Section -->
    <section class="p-4 h-100 col-12">
        <div class="col-12 border">
            <div class="mb-3 col-12">
                <label for="file-input" class="form-label mr-2">檔案匯入:</label>
                <div class="form-inline">
                    <input class="form-control" type="file" id="file-input">
                    <button type="button" class="btn btn-primary ml-2" id="file-upload">上傳</button>
                </div>
            </div>
        </div>
        <div class="col-12 border">
            <div class="mb-3 col-12 form-inline">
                <label for="file-input" class="form-label mr-2">檔案匯出:</label>
                <div class="form-inline">
                    <a type="button" class="btn btn-success ml-3 py-1 px-2" href="/api/v1.0/export_all?gateway_id={{gateway_id}}" id="export-all">檔案匯出</a>
                </div>
            </div>
        </div>

        <!--<div class="col-12 border mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="form-inline">
                            <h2>檔案匯出</h2>
                            <a type="button" class="btn btn-success ml-3 py-1 px-2" href="/api/v1.0/export_all?gateway_id={{gateway_id}}" id="export-all">全部匯出</a>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <form id="export-form">
                            <div class="col-12 px-0 form-inline align-items-start">
                                <div class="col-12 col-sm-4 px-0">
                                    <h2>需量</h2>
                                    <div class="form-check justify-content-start px-3">
                                        <input type="checkbox" class="form-check-input" value="demand" id="export-demand">
                                        <label class="form-check-label p-0" for="export-demand">需量</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 px-0">
                                    <h2>區域</h2>
                                    <div class="form-check justify-content-start px-3">
                                        <input class="form-check-input" type="checkbox" value="area" id="export-area">
                                        <label class="form-check-label p-0" for="export-area">
                                            區域設定
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4 px-0">
                                    <h2>燈控</h2>
                                    <div class="form-check justify-content-start px-3">
                                        <input class="form-check-input" type="checkbox" value="node" id="export-node">
                                        <label class="form-check-label p-0" for="export-node">
                                            點位
                                        </label>
                                    </div>
                                    <div class="form-check justify-content-start px-3">
                                        <input class="form-check-input" type="checkbox" value="group" id="export-group">
                                        <label class="form-check-label p-0" for="export-group">
                                            群組
                                        </label>
                                    </div>
                                    <div class="form-check justify-content-start px-3">
                                        <input class="form-check-input" type="checkbox" value="scene" id="export-scene">
                                        <label class="form-check-label p-0" for="export-scene">
                                            場景
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="">匯出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
    </section>
{% endblock content%}

