{% extends"base.html" %} {% block head %} {{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dae/project.css') }}" />

{% endblock head%} {% block content%}
<script text="text-javascript">
    var update_area_timeout;
    $(function () {
        var init_now_area_id = $('.top-pagination-active').attr('data-area-id');
        $('.top-pagination').click(
            function () {
                var area_id = $(this).attr('data-area-id'),
                    now_area_id = $('.top-pagination-active').attr('data-area-id');
                load_area(area_id, now_area_id);
            }
        );
        $('.switch-control').click(switchControl);
        $('.value-control').click(showValueControlModal);
        $('#control-value-submit').click(valueControl);
        update_area_timeout = setTimeout(load_area, 10000, init_now_area_id, init_now_area_id);
    });

    function valueControl() {
        console.log("Value Control")
        var control_type = 'node',
            name = $('#modal-node-name').val(),
            state = $('#control-value-input').val(),
            item_id = $('#modal-node-id').val();
        $.ajax({
            type: 'POST',
            url: '/api/v1.0/' + control_type + '_control',
            data: {
                'gateway_id': {{ gateway_id }},
                'item_id': item_id * 1,
                'name': name,
                'state': state
            },
            dataType: 'json',
            beforeSend: function(xhr) {
                var removeClassName = state > 0 ? 'secondary' : 'info',
                    addClassName = state > 0 ? 'info' : 'secondary',
                    button_object = $('.value-control[data-id="' + item_id + '"]');
                clearTimeout(update_area_timeout);
                button_object.removeClass('btn-' + removeClassName);
                button_object.addClass('btn-' + addClassName);
                button_object.attr('data-state', state);
                button_object.find('.button-state')[0].innerHTML = state + '%';
                $('#controlValueModal').modal('hide');
                updateNodeState(item_id, control_type, 0)
            }
        }).then(function (result) {
            update_area_timeout = setTimeout(load_area, 30000, area_id, now_area_id);
        });
    }


    function showValueControlModal() {
        var name = $(this).attr('data-name'),
            item_id = $(this).attr('data-id'),
            state = $(this).attr('data-state');
        $('#modal-node-id').val(item_id);
        $('#modal-node-name').val(name);
        $('#control-value-input').val(state);
        $('#controlValueModal').modal('show');
    };

    function updateNodeState(item_id, control_type, state) {
        console.log("Update Node State")
        $.ajax({
            type: 'POST',
            url: '/api/v1.0/update_node_state',
            data: {
                item_id: item_id,
                control_type: control_type,
                gateway_id: {{ gateway_id }}
            },
            dataType: 'json'
        }).then(function(result) {
            if (!result['result']) {
                return false;
            }
            var group_node_state = state > 0 ? 0 : 100;

            $.each(result['data'], function(key, item) {
                var node_id = item[1],
                    node_type_id = item[0];
                if ($('#node-' + node_id).length > 0) {
                    var control_node_state = control_type === 'group' ? group_node_state : item[2],
                     control_node_state_name = $.inArray( node_type_id, {{G_CONTROL_VALUE_TYPE_LIST}}) >= 0 ? control_node_state + '%' : (control_node_state > 0 ? 'ON' : 'OFF'),
                     removeClassName = control_node_state > 0 ? 'secondary' : 'info',
                     addClassName = control_node_state > 0 ? 'info' : 'secondary';

                    $('#node-' + node_id).find('.button-state')[0].innerHTML = control_node_state_name;
                    $('#node-' + node_id).attr('data-state', control_node_state);
                    $('#node-' + node_id).removeClass('btn-' + removeClassName);
                    $('#node-' + node_id).addClass('btn-' + addClassName);
                }
            });
        })
    }

    function switchControl() {
        console.log("Switch Control");
        var start_time = Date.now(),
            button_object = $(this),
            control_type = button_object.attr('data-control-type'),
            name = button_object.attr('data-name'),
            state = button_object.attr('data-state'),
            item_id = button_object.attr('data-id');
        $.ajax({
            type: 'POST',
            url: '/api/v1.0/' + control_type + '_control',
            data: {
                gateway_id: {{ gateway_id }},
                'item_id': item_id * 1,
                'name': name,
                'state': state
            },
            dataType: 'json',
            beforeSend: function(xhr) {
                clearTimeout(update_area_timeout);
                if (control_type !== 'scene') {
                    var removeClassName = state > 0 ? 'info' : 'secondary',
                        addClassName = state > 0 ? 'secondary' : 'info',
                        change_state = state > 0 ? 0 : 100,
                        change_state_name = state > 0 ? 'OFF' : 'ON';
                    button_object.removeClass('btn-' + removeClassName);
                    button_object.addClass('btn-' + addClassName);
                    button_object.attr('data-state', change_state);
                    button_object.find('.button-state')[0].innerHTML = change_state_name;
                }
                if (control_type !== 'node') {
                    updateNodeState(item_id, control_type, state);
                }
            }
        }).then(function (result) {
            var end_time = Date.now();
            // ms convert s
            web_response_time = ((end_time - start_time) / 1000 );
            console.log("Web Response:", web_response_time, " s");
            update_area_timeout = setTimeout(load_area, 30000, area_id, now_area_id);
        });
    }

    function load_area(area_id, now_area_id) {
        console.log("Load Area")
        $.ajax({
            'type': 'POST',
            'url': '/api/v1.0/load_area',
            'data': {
                'area_id': area_id,
                'gateway_id': {{ gateway_id }}
            },
            dataType: 'json'
        }).then(function (result) {
            if (!result['result']) {
                alert(result['message']);
            }
            clearTimeout(update_area_timeout);
            $('.switch-control').off("click");
            $('.value-control').off("click");

            $('#point-div').html('');
            $.each(result['data']['node_list'], function (key, value) {
                var node_state = $.inArray( value['type_id'], {{G_CONTROL_VALUE_TYPE_LIST}}) >= 0 ? value['state'] : (value['state'] * 1 > 0 ? 'ON' : 'OFF'),
                node_template_value = [{
                    node_id: value['node_id'],
                    node_name: value['name'],
                    node_num: value['num'],
                    node_state: node_state,
                    node_type: value['state'] * 1 > 0 ?
                        'info' : 'secondary',
                    node_unit: $.inArray( value['type_id'], {{G_CONTROL_VALUE_TYPE_LIST}}) >= 0 ?
                        '%' : '',
                    button_type: $.inArray( value['type_id'], {{G_CONTROL_VALUE_TYPE_LIST}}) >= 0?
                        'value-control' : 'switch-control'
                }];
                $('#node_list_template').tmpl(node_template_value).appendTo('#point-div');
            });
            $('#group-div').html('');
            $.each(result['data']['group_list'], function (key, value) {
                var group_template_value = [{
                    group_id: value['group_id'],
                    group_name: value['name'],
                    group_num: value['num'],
                    group_state: value['state'] * 1 > 0 ? 'ON' : 'OFF',
                    group_type: value['state'] * 1 > 0 ? 'info' : 'secondary',
                }];
                $('#group_list_template').tmpl(group_template_value).appendTo('#group-div');
            });
            $('#scene-div').html('');
            $.each(result['data']['scene_list'], function (key, value) {
                var scene_template_value = [{
                    scene_id: value['scene_id'],
                    scene_name: value['name'],
                    scene_num: value['number'],
                }];
                $('#scene_list_template').tmpl(scene_template_value).appendTo('#scene-div');
            });
            if (area_id !== now_area_id) {
                $('#area-id').text(area_id);
                $('.top-pagination').off("click");
                $('#area-' + area_id).removeClass('top-pagination');
                $('#area-' + area_id).addClass('top-pagination-active');
                $('#area-' + now_area_id).removeClass('top-pagination-active');
                $('#area-' + now_area_id).addClass('top-pagination');
                $('.top-pagination').click(
                    function () {
                        var area_id = $(this).attr('data-area-id'),
                            now_area_id = $('.top-pagination-active').attr('data-area-id');
                        load_area(area_id, now_area_id);
                    }
                );
            }
            $('.switch-control').click(switchControl);
            $('.value-control').click(showValueControlModal);
            update_area_timeout = setTimeout(load_area, 10000, area_id, now_area_id);
        });

    }
</script>

<div class="page home-page h-100">

    <header class="header">
        <nav class="navbar py-1">
            <div class="container-fluid px-1">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header d-flex align-items-center"><a id="toggle-btn" href="#"
                            class="navbar-toggler btn-link"><i class="fa fa-bars fa-2x" style="vertical-align: middle;">
                            </i></a>
                        <a href="/" class="navbar-brand">
                            <div class="brand-text hidden-sm-down"><span>即時控制 </span></div>
                        </a>
                    </div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center mb-0">
                        {% if session['role'] == 'Cloud' %}
                        <li class="nav-item"><a href="gateway_setting" class="nav-link pre-page">上一頁</i></a></li>
                        {%endif%}
                        <li class="nav-item"><a href="/" class="nav-link logout pl-0"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item"><a href="{{ url_for('main.logout') }}" class="nav-link pl-0"><i
                                    class="fas fa-sign-out-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Counts Section -->
    <section class="h-100">
        <div class="form-inline px-4 pagination-div">
            {% for area_info in area_list  %}
            {% set active = ' ' %}
            {% if loop.index == 1 %}
            {% set active = '-active' %}
            {% endif %}
            <button class="top-pagination{{active}} h-100 px-4" id="area-{{area_info.area_id}}"
                data-area-id="{{area_info.area_id}}">{{area_info.name}}</button>
            {% endfor %}
        </div>
        <div class="px-4 py-3" id="all-control-div">
            <div id="area-id" class="d-none">{{area_list.0.area_id}}</div>
            <div class="card border-0 point shadow-none mb-3">
                <div class="card-header border-0 py-2 px-2 font-weight-bold">
                    點位
                </div>
                <div class="card-body px-2 pt-3 shadow-sm" id="point-div">
                    {% for type_id, node_id, node_name, node, node_state in node_list %}
                    {% set node_type = 'secondary' %}
                    {% set button_type = 'switch-control' %}
                    {% if node_state|int > 0 %}
                    {% set node_type = 'info' %}
                    {% endif %}
                    {% if type_id in G_CONTROL_VALUE_TYPE_LIST %}
                    {% set button_type = 'value-control' %}
                    {% endif %}
                    <button class="btn btn-{{node_type}} control-button mx-2 mb-3 {{button_type}}"
                        data-control-type="node" data-name="{{node_name}}" data-state="{{node_state}}"
                        data-id="{{node_id}}" id="node-{{node_id}}">
                        <div class="text-left">
                            <i class="far fa-lightbulb"></i>
                        </div>
                        <div class="text-left">
                            <label class="button-name mb-0">{{node_name}}</label>
                        </div>
                        <div class="text-left">
                            <label class="button-state text-left mb-0">
                                {% if  type_id in G_CONTROL_VALUE_TYPE_LIST %}
                                    {{node_state}} %
                                {% elif node_state > 0 %}
                                    ON
                                {% else %}
                                    OFF
                                {% endif %}</label>
                        </div>
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="card border-0 group shadow-none mb-3">
                <div class="card-header border-0 py-2 px-2 font-weight-bold">
                    群組
                </div>
                <div class="card-body px-2 pt-3 shadow-sm" id="group-div">
                    {% for group_id, group_name, group, group_state in group_list %}
                    {% set group_type = 'secondary' %}
                    {% if group_state > 0 %}
                    {% set group_type = 'info' %}
                    {% endif %}
                    <button class="btn btn-{{group_type}} control-button mx-2 mb-3 switch-control"
                        data-control-type="group" data-name="{{group_name}}" data-state="{{group_state}}"
                        data-id="{{group_id}}">
                        <div class="text-left">
                            <i class="far fa-object-group"></i>
                        </div>
                        <div class="text-left">
                            <label class="button-name mb-0">{{group_name}}</label>
                        </div>
                        <div class="text-left">
                            <label class="button-state text-left mb-0">
                                {% if group_state > 0 %}
                                    ON
                                {% else %}
                                    OFF
                                {% endif %}
                            </label>
                        </div>
                    </button>
                    {% endfor %}
                </div>
            </div>
            <div class="card border-0 group shadow-none mb-3">
                <div class="card-header border-0 py-2 px-2 font-weight-bold">
                    場景
                </div>
                <div class="card-body px-2 pt-3 shadow-sm" id="scene-div">
                    {% for scene_id, scene_name, scene in scene_list %}
                    <button class="btn btn-light control-button mx-2 mb-3 switch-control scene-button" data-control-type="scene"
                        data-name="{{scene_name}}" data-state="" data-id="{{scene_id}}">
                        <div class="text-left">
                            <i class="fas fa-futbol"></i>
                        </div>
                        <div class="text-left">
                            <label class="button-name mb-0">{{scene_name}}</label>
                        </div>
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script id="node_list_template" type="text/text/x-jquery-tmpl">
            <button class="btn btn-${node_type} control-button mx-2 mb-3 ${button_type}" id='node-${node_id}' data-control-type="node" data-name="${node_name}" data-state="${node_state}" data-id="${node_id}">
                <div class="text-left">
                  <i class="far fa-lightbulb"></i>
                </div>
                <div class="text-left">
                    <label class="button-name mb-0">${node_name}</label>
                </div>
                <div class="text-left">
                    <label class="button-state text-left mb-0">${node_state} ${node_unit}</label>
                </div>
            </button>
        </script>
        <script id="group_list_template" type="text/text/x-jquery-tmpl">
            <button class="btn btn-${group_type} control-button mx-2 mb-3 switch-control" data-control-type="group" data-name="${group_name}" data-state="${group_state}" data-id="${group_id}">
                <div class="text-left">
                  <i class="far fa-object-group"></i>
                </div>
                <div class="text-left">
                    <label class="button-name mb-0">${group_name}</label>
                </div>
                <div class="text-left">
                    <label class="button-state text-left mb-0">${group_state}</label>
                </div>
            </button>
        </script>
        <script id="scene_list_template" type="text/text/x-jquery-tmpl">
            <button class="btn btn-light control-button mx-2 mb-3 switch-control scene-button" data-control-type="scene" data-name="${scene_name}" data-state="" data-id="${scene_id}">
                <div class="text-left">
                  <i class="fas fa-futbol"></i>
                </div>
                <div class="text-left">
                    <label class="button-name mb-0">${scene_name}</label>
                </div>
            </button>
        </script>
    </section>
    <div class="modal fade" id="controlValueModal" tabindex="-1" role="dialog" aria-labelledby="controlValueModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="controlValueModalLabel">數值調整</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <label for="control-value-input" class="px-2">數值:</label>
                        <div class="input-group col">
                            <input type="number" min="0" max="100" class="form-control" id="control-value-input">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                        <input type="hidden" name="modal-node-id" id="modal-node-id">
                        <input type="hidden" name="modal-node-name" id="modal-node-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" id="control-value-submit">確定</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock content%}